@import "_function.sass"
@import "_reset.sass"
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Source+Sans+Pro:wght@300;400&display=swap')

$tt: 'Oswald', sans-serif
$t: 'Source Sans Pro', sans-serif

html
	font-size: calc-between-width(1600, 16, 1920, 19.2)

body
	font-size: 1rem
	position: relative
	line-height: 1.6
	overflow-x: hidden

body
	font-family: $t

.wrapper
	display: flex
	flex-direction: column
	min-height: 100%
	overflow: hidden

.content
	flex: 1 1 auto

.container
	margin: 0px auto
	max-width: 1140px

.header
	position: relative
	padding: rem(20) rem(40) rem(30) rem(40)
	width: 100%
	font-weight: 600
	font-family: $tt
	background: #1E1E1E
	z-index: 999

.header__flex,
.footer__flex
	display: flex
	justify-content: space-between

.header__flex
	font-weight: 600
	color: #fff

.menu
	margin-top: rem(17)
	padding: rem(5)
	display: inline-flex
	font-size: rem(18)
	line-height: rem(36)
	&__hover
		padding: rem(0) rem(30)
		height: rem(30)
		background-color: #fff
		position: absolute
		width: rem(2)
		transition: all 0.2s ease-out
		box-sizing: border-box
		border-radius: rem(5)
	&__item
		padding: rem(0) rem(30)
		height: rem(30)
		display: inline-flex
		align-items: center
		z-index: 2
		color: #fff
		transition: all 0.3s ease 0s
		&:hover
			color: #1E1E1E
			border-radius: rem(5)
			cursor: pointer

.header__logo
	font-size: rem(26)
	font-weight: 700
	pointer-events: none
	p
		padding-top: rem(16)
		display: inline-block
	img
		margin-left: rem(100)
		width: rem(108)
		height: rem(60)

.search
	margin-top: rem(10)
	padding: rem(6) rem(16)
	width: rem(280)
	height: rem(50)
	font-size: rem(18)
	letter-spacing: rem(1.2)
	border-radius: rem(12)

// main
.recently__posts
	padding: rem(50) rem(20) rem(0) rem(20)

.flex__news
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	&-item
		margin-bottom: rem(30)
		width: rem(265)
		height: rem(300)
		background: #ccc

.today__posts
	padding: rem(50) rem(20) rem(70) rem(20)

//footer

.footer
	padding: rem(45) rem(0) rem(50) rem(0)
	font-family: $t
	background: #1E1E1E
	z-index: 999
	&-form__block
		width: rem(440)
	&__title
		margin-bottom: rem(14)
		color: rgb(185, 185, 185)
		text-transform: uppercase
	&__text
		display: block
		color: rgb(247, 247, 247)
		font-weight: 300
		line-height: rem(30)
		transition: all 0.3s ease 0s
		&:hover
			color: rgb(185, 185, 185)
	&__form-input
		margin: rem(24) rem(0) rem(-14) rem(0)
	input
		padding: rem(6) rem(16)
		width: 100%
		height: rem(50)
		font-size: rem(16)
		font-family: $t
		letter-spacing: rem(1.2)
		border-radius: rem(12)
	&__form-btn
		margin-top: rem(32)
		padding: rem(6) rem(70)
		height: rem(40)
		color: #fff
		font-size: rem(18)
		font-family: $tt
		font-weight: 600
		letter-spacing: rem(1.2)
		background: #e0001b
		border-radius: rem(12)
		transition: all 0.3s ease 0s
		&:hover
			box-shadow: 0px 0px 16px 0px rgb(16, 19, 22), inset 2px 2px 5px 0px rgba(90, 0, 0, 0.5)
